.form {
  position: relative;
  width: 389px;
  height: 513px;
  background-color: #ffffff;
  padding: 37px 34px 34px;

  // form-title
  .form__title {
    width: 271px;
    height: 37px;
    h1 {
      font-size: 26px;
      font-weight: 700;
      color: #000000;
    }
  }

  // form-info
  .form__info {
    display: flex;
    margin-top: 18px;
    .info__sum {
      width: 104px;
      height: 36px;
      line-height: 18px;
      margin-right: 50px;
      p {
        color: #959595;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .info__number {
      width: 127px;
      height: 36px;
      line-height: 18px;
      p {
        color: #101114;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  // form-number-card
  .form__number-card {
    margin-top: 25px;
    p {
      width: 102px;
      height: 16px;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0.75px;
      color: #101114;
      text-transform: uppercase;
    }
    .number-card_input {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      input {
        padding: 16px;
        width: 70px;
        height: 39px;
        background-color: #f0f0f0;
        outline: none;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        color: #101114;
        font-size: 14px;
        font-weight: 400;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  // form-text
  .form__text {
    margin-top: 20px;
    p {
      width: 139px;
      height: 16px;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0.75px;
      color: #101114;
      text-transform: uppercase;
    }
    input {
      padding: 16px;
      margin-top: 12px;
      width: 321px;
      height: 39px;
      background-color: #f0f0f0;
      outline: none;
      border: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      color: #101114;
      font-size: 14px;
      font-weight: 400;
    }
    input::-webkit-input-placeholder {
      color: #959595;
    }
    input:not(:placeholder-shown):valid {
      border: 1px solid green;
    }
    input:not(:placeholder-shown):invalid {
      border: 1px solid red;
    }
  }
  // form-descr
  .form__descr {
    margin-top: 24px;
    display: flex;
    p {
      padding-right: 140px;
      height: 16px;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0.75px;
      color: #101114;
      text-transform: uppercase;
    }
    p:nth-child(2) {
      padding: 0;
    }
  }

  // form-date
  .form__date {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    .date {
      display: flex;
      .date__month {
        position: relative;
        margin-right: 14px;
        width: 70px;
        height: 39px;
        background-color: #f0f0f0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      img {
        position: absolute;
        top: 16px;
        right: 8px;
        cursor: pointer;
      }
      .date__year {
        position: relative;
        padding: 16px;
        width: 70px;
        height: 39px;
        background-color: #f0f0f0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      img {
        position: absolute;
        top: 16px;
        right: 8px;
        cursor: pointer;
      }
    }

    // cvc
    .date__cvc {
      input {
        padding: 16px;
        width: 70px;
        height: 39px;
        color: #101114;
        background-color: #f0f0f0;
        outline: none;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        color: #101114;
        font-size: 14px;
        font-weight: 400;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  // submit
  .form__submit {
    margin-top: 35px;
    button {
      width: 320px;
      height: 45px;
      background-color: #4253ff;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;

      font-size: 13px;
      font-weight: 900;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      cursor: pointer;
    }
    input:valid {
      border: 1px solid green;
    }
    input:invalid {
      border: 1px solid red;
    }
  }
}

// media
@media (max-width: 479px) {
  .form {
    padding: 37px 30px 34px;
    width: 335px;
    .form__info {
      .info__sum {
        margin-right: 40px;
        p {
          font-size: 13px;
        }
      }
    }
    .form__info {
      .info__number {
        p {
          font-size: 13px;
        }
      }
    }
    .form__number-card {
      .number-card_input {
        input {
          width: 60px;
          font-size: 13px;
          padding: 15px;
        }
      }
    }
    .form__text {
      input {
        width: 275px;
      }
    }
    .form__descr {
      p {
        padding-right: 90px;
      }
    }
    .form__date {
      .date {
        .date__month {
          width: 60px;
        }
        .date__year {
          width: 60px;
        }
      }
      .date__cvc {
        input {
          width: 60px;
        }
      }
    }
    .form__submit {
      button {
        width: 275px;
      }
    }
  }
}
