.navigation {
  position: relative;
  padding-top: 33px;
  width: 231px;
  height: 513px;
  background-color: #1c1d20;

  // nav-item
  .nav__item {
    .nav__list {
      height: 37px;
      line-height: 37px;
    }
    .nav__list:active {
      background-color: #101114;
    }
    .nav__link {
      padding-left: 31px;
      color: #959595;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    .nav__link:hover {
      color: #ffffff;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
    }
  }

  // nav-logotype
  .nav__logotype {
    position: absolute;
    bottom: 46px;
    left: 32px;
  }
}

// media
@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}
